.navbar-brand {
    font-size: 35px;
    font-weight: 800;
    padding: 0;
font-family: 'Montserrat', sans-serif;


}

.navbar {
    padding: 5;
    background-color: rgba(42, 118, 240, 0.534) !important;
font-family: 'Montserrat', sans-serif;

}

.fontStyle {
font-family: 'Montserrat', sans-serif;

}

.searchBtn {
    background-color: rgb(196, 208, 224) !important;
    font-weight: 700;
}

.weatherCard {
    font-weight: 600;
    font-size: 18px;
    background-color: rgba(42, 118, 240, 0.534);
}

.fiveDayCard {
    margin: 20px;
    background-color: rgba(150, 158, 230, 0.486);

}

h1 {
    margin-left: 25px;

}