.navbar-brand {
    font-size: 25px;
    font-weight: 800;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    padding: 5;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    background-image: url(https://i.pinimg.com/originals/af/a7/a3/afa7a37361cab6d7a729b669dae6757b.jpg);
}

.fontStyle {
    font-family: 'Montserrat', sans-serif;
}


.weatherCard {
    font-weight: 600;
    font-size: 18px;
    background-color: rgba(207, 207, 207, 0.815);
}

.fiveDayCard {
    background-color: rgba(207, 207, 207, 0.651);
    margin: 15px;
}

h1 {
    text-align: left;
 
    
}

.jumbotron {
    padding-left: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-image: url(https://icatcare.org/app/uploads/2018/06/Layer-1704-1920x840.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: unset !important;
    max-width: 900px;
}

.cityDate {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
}

.mainWeatherFont {
    font-weight: 100;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;


    
}

#userInput { 
    background-color: rgba(207, 207, 207, 0.815);
}

#storedCities {
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
}

.searchBtn {
    background-color: rgba(207, 207, 207, 0.815) !important;
}

.btn {
    border-radius: 3px;
    border-color: rgba(160, 153, 170, 0.521);
    padding: 5px;
    margin: 5px;
}

body {
    background-color: rgba(241, 239, 237, 0.561);
}

.fiveDate {
    font-size: 20px;
    font-weight: 800;
}

.city-button {
    width: 200px;
}